In [1]:
import pandas as pd

In [8]:
file_path_kammi = r'G:\EPICODE\GITHUB\BuildWeekPython\Sameer\Kammicsv.csv'
file_path_superga = r'G:\EPICODE\GITHUB\BuildWeekPython\Sameer\Supergacsv.csv'


db_superga = pd.read_csv(file_path_superga, delimiter=',')
db_kammi = pd.read_csv(file_path_kammi,delimiter=',')

In [10]:
db_superga = pd.DataFrame(db_superga)
db_kammi = pd.DataFrame(db_kammi)

print(db_kammi)

     Ciabatta 800  d6d0da  36  Unnamed: 3     44  sandali
0    Ciabatta 800  d6d0da  38         NaN  44.00  sandali
1    Ciabatta 800  d6d0da  39         NaN  44.00  sandali
2    Ciabatta 800  eec4ab  36         NaN  44.00  sandali
3    Ciabatta 800  eec4ab  38         NaN  44.00  sandali
4    Ciabatta 800  eec4ab  39         NaN  44.00  sandali
..            ...     ...  ..         ...    ...      ...
304     Zeppa 102  ac8e83  40         NaN  55.92    zeppe
305     Zeppa 102  ac8e83  41         NaN  55.92    zeppe
306     Zeppa 102  e4a677  35         NaN  55.92    zeppe
307     Zeppa 102       0  35         NaN  55.92    zeppe
308     Zeppa 102  ac8e83  35         NaN  55.92    zeppe

[309 rows x 6 columns]

In [11]:
db_superga.columns = ['NOME', 'COLORE', 'TAGLIA', 'PREZZO_SCONTATO', 'PREZZO', 'CATEGORIA']
db_kammi.columns = ['NOME', 'COLORE', 'TAGLIA', 'PREZZO_SCONTATO', 'PREZZO', 'CATEGORIA']

In [12]:
print(db_superga.head())

           NOME       COLORE  TAGLIA  PREZZO_SCONTATO  PREZZO   CATEGORIA
0  4121-FANRBRW  PALMS-BLACK      36             14.0      35  infradito
1  4121-FANRBRW  PALMS-BLACK      37             14.0      35  infradito
2  4121-FANRBRW  PALMS-BLACK      38             14.0      35  infradito
3  4121-FANRBRW  PALMS-BLACK      39             14.0      35  infradito
4  4121-FANRBRW  PALMS-BLACK      40             14.0      35  infradito